# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
.env.*

# Build output
/dist/
/.vite/
coverage/

# Cache
.cache/
.eslintcache
vite.config.timestamp-*
